<div class="row">
  <div class="col-md-12">
   <button class="btn btn-primary"><a [routerLink]="['/add-property']" style="color: inherit; text-decoration: none">Add Property</a></button>
   <button class="btn btn-primary"><a [routerLink]="['/inspect/']" style="color: inherit; text-decoration: none">Create nSpec Report</a></button>
  </div>
</div>

<div *ngIf="properties">
  <table id="propTbl">
    <thead>
      <tr>
        <th>Property</th>
        <th>Phone</th>
        <th>City</th>
        <th>State</th>
        <th>Manage Properties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td><a [routerLink]="['/property/' + property.$key]">{{property.property_name}} </a></td>
        <td>{{property.phone}}</td>
        <td>{{property.city}}</td>
        <td>{{property.state}}</td>
        <td>
          <button class="btn btn-info"><a [routerLink]="['/property/' + property.$key]" style="color: inherit; text-decoration: none">More Info</a></button>
          <button class="btn btn-default" [routerLink]="['/edit-property/'+property.$key]">Edit</button>
          <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
